


hr 
h2(style="padding: 0 0 20px 0	") popup







//- одиночная модалка===================
button.btn.btn--success(type='button').btn-popup.popup-init-js  Открыть попап
.popup
    .popup__overlay
      .popup__inner
        p одиночная модалка  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consectetur at similique sit unde laborum voluptate! Ullam fuga quibusdam, ratione veritatis modi sit non, nam minima architecto nostrum labore. Esse, sint. Nobis explicabo necessitatibus laboriosam voluptatibus natus ullam optio deleniti! Error aliquid voluptates consequuntur nemo, deleniti reiciendis sunt accusantium eius illo natus dignissimos alias accusamus amet? Dolorum eveniet in eaque! Non sed praesentium veniam doloribus vitae, aut provident molestias aspernatur id velit ratione. Iusto adipisci unde mollitia ipsum ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis odit quo numquam deserunt, rerum quia rem? Unde dicta possimus ut hic perferendis mollitia asperiores iusto. Quasi reiciendis provident a consecte
        i.icon-x.popup__close.popup__close






//- ===================несколько модалок на одном скрипте====================================

.art_inner-article__galery.art_inner-article-galery
                  .art_inner-article-galery__img.btn-popup
                    a(href="#!" rel="slide-1-popup").art_inner-article-galery__play.popups-init-js открыть 1 попап
                  .art_inner-article-galery__img.btn-popup
                    a(href="#!" rel="slide-2-popup").art_inner-article-galery__play.popups-init-js открыть 2 попап
                  .art_inner-article-galery__img.btn-popup
                    a(href="#!" rel="slide-3-popup").art_inner-article-galery__play.popups-init-js открыть 3 попап
                  .art_inner-article-galery__img.btn-popup
                    a(href="#!" rel="slide-4-popup").art_inner-article-galery__play.popups-init-js открыть 4 попап



section#modaL.modaL
  .popups.slide-1-popup
      .popups__overlay
        .popups__inner
          i.icon-x.popup__close.close-js
          //- #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
          p это первый попап
  .popups.slide-2-popup
      .popups__overlay
        .popups__inner
          i.icon-x.popup__close.close-js
          p это 2 попап
          //- #player.player-2(data-plyr-provider='youtube' data-plyr-embed-id="75UQsEeH0jo")
  .popups.slide-3-popup
      .popups__overlay
        .popups__inner
          i.icon-x.popup__close.close-js
          p это 3 попап
          //- #player.player-3(data-plyr-provider='youtube' data-plyr-embed-id="vr0qNXmkUJ8")
  .popups.slide-4-popup
      .popups__overlay
        .popups__inner
          i.icon-x.popup__close.close-js
          p это 4 попап
          //- #player.player-4(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")



//- несколько модалок с плеером в каждой==========



.art_inner-article__galery.art_inner-article-galery
                  .art_inner-article-galery__img.btn-popup-player
                    a(href="#!" rel="slide-player-1-popup").art_inner-article-galery__play.popup-player-init-js открыть 1 попап
                  .art_inner-article-galery__img.btn-popup-player
                    a(href="#!" rel="slide-player-2-popup").art_inner-article-galery__play.popup-player-init-js открыть 2 попап
                  .art_inner-article-galery__img.btn-popup-player
                    a(href="#!" rel="slide-player-3-popup").art_inner-article-galery__play.popup-player-init-js открыть 3 попап
                  .art_inner-article-galery__img.btn-popup-player
                    a(href="#!" rel="slide-player-4-popup").art_inner-article-galery__play.popup-player-init-js открыть 4 попап

section#modaL.modaL
  .popup-player.slide-player-1-popup
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
  .popup-player.slide-player-2-popup
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          #player.player-2(data-plyr-provider='youtube' data-plyr-embed-id="75UQsEeH0jo")
  .popup-player.slide-player-3-popup
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          #player.player-3(data-plyr-provider='youtube' data-plyr-embed-id="vr0qNXmkUJ8")
  .popup-player.slide-player-4-popup
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          #player.player-4(data-plyr-provider='youtube' data-plyr-embed-id="x4Xb8yACha4")