.info.info-js
          .block__select
            select.select
              option(value='assets/img/home/ru-flag.webp' selected) Русский 
              option(value='assets/img/home/ua-flag.webp' ) Український