hr 
h2(style="padding: 0 0 20px 0	") selects

//- требует salects.sass select.js
.block__select
  select.select
    option(value='По актуальности' disabled ) По актуальности
    option(value='По актуальности' ) По актуальности
    option(value='По возрастанию цены') По возрастанию цены
    option(value='По убыванию цены') По убыванию цены
    option(value='По количеству комнат') По количеству комнат
    option(value='Этаж') Этаж
  i.icon-chevron-down.block__icon