
hr 
h2(style="padding: 0 0 20px 0	") slider


//- требует slider.pug slick.js slick.css slider.sass mySlick.js

.slider.slider__slider
          .slider__arrows
            i.slider__arrow.slider__arrow_prev.slider__arrow_prev--1.icon-chevron-left
            i.slider__arrow.slider__arrow_next.slider__arrow_next--1.icon-chevron-right
          ul.slider__body.slider-js-1
            - 
              slides = [
                  {  img:"./assets/img/slider/img-1.webp"},
                  {  img:"./assets/img/slider/img-2.webp"},
                  {  img:"./assets/img/slider/img-3.webp"},
                  {  img:"./assets/img/slider/img-4.webp"},
                  {  img:"./assets/img/slider/img-5.webp"},
              ]
            each item in slides
              li.slider__item.bg(style=`background-image: url(${item.img})`)
