section#slider-cards.slider-cards
    .container
      .slider-cards__body
        .slider-cards__title.title
          h2 EdMate Ket Features
        .slider__slider.slider-cards__content.slider
            ul.slider-cards__slider.slider__body.slider-js-1( data-prev="icon-chevron-left" data-next="icon-chevron-right"  )
                li.slider-cards__item.slider-card
                  .slider-card__img(style="background-image: url('assets/img/card/img-1.png')")
                  .slider-card__title Complete School Solution
                  .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .btn.btn--success.slider-card__button  Explore More
                li.slider-cards__item.slider-card
                  .slider-card__img(style="background-image: url('assets/img/card/img-2.png')")
                  .slider-card__title User Frendly
                  .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .btn.btn--success.slider-card__button  Take the Tour
                li.slider-cards__item.slider-card
                  .slider-card__img(style="background-image: url('assets/img/card/img-3.png')")
                  .slider-card__title Complete School Solution
                  .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .btn.btn--success.slider-card__button  Try for Free
                li.slider-cards__item.slider-card
                  .slider-card__img(style="background-image: url('assets/img/card/img-1.png')")
                  .slider-card__title Complete School Solution
                  .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .btn.btn--success.slider-card__button  Explore More
                li.slider-cards__item.slider-card
                  .slider-card__img(style="background-image: url('assets/img/card/img-2.png')")
                  .slider-card__title User Frendly
                  .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .btn.btn--success.slider-card__button  Take the Tour
                li.slider-cards__item.slider-card
                  .slider-card__img(style="background-image: url('assets/img/card/img-3.png')")
                  .slider-card__title Complete School Solution
                  .slider-card__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .btn.btn--success.slider-card__button  Try for Free

