



h2(style="padding: 0 0 20px 0	") buttons







//- включает buttons.pug  buttons.sass



button.btn.btn--success(type='button')  btn--success
button.btn.btn--empty(type='button') Квартиры от 2млн.
button.btn.btn--light(type='button')  btn--light
button.btn.btn--success.btn--success-icon(type='button' tabindex='-1')
  i.icon-phone
  span Заказать звонок
button.btn.btn--success.btn--cross(type='button' tabindex='-1')
  i.icon-x

  