.cheap
  img.cheap__img(src="assets/img/img-1.jpg",alt="img")
  h5.cheap__title Надежда Пронина
  p.cheap__text  Текст сообщения от пользователя в несколько строк


//- section#test.test
//-         .test__item.test-item
//-           .cheap
//-             img.cheap__img(src="assets/img/img-1.jpg",alt="img")
//-             h5.cheap__title Надежда Пронина
//-             p.cheap__text  Текст сообщения от пользователя в несколько строк
//-         .test__item.test-item
//-           .cheap
//-             img.cheap__img(src="assets/img/img-1.jpg",alt="img")
//-             h5.cheap__title Надежда Пронина
//-             p.cheap__text  Текст сообщения от пользователя в несколько строк
//-         .test__item.test-item
//-           .cheap
//-             img.cheap__img(src="assets/img/img-1.jpg",alt="img")
//-             h5.cheap__title Надежда Пронина
//-             p.cheap__text  Текст сообщения от пользователя в несколько строк
