extends ../layout/main
block content
  include ../modules/buttons
  include ../modules/inputs
  include ../modules/selects
  include ../modules/slider
  include ../modules/popup
block footer
  include ../modules/footer
  