.card 
  i.card__img
  h5.card__title  Заголовок карточки
  p.card__text Текст карточкиТекст карточкиТекст карточкиТекст карточкиТекст карточки
  button.btn.btn--empty.card__button(type='button') Загрузить 